@charset "UTF-8";
.main .contents {
  padding: 20px;
  border: 1px solid #959595;
}

p {
      color: #0033ff;
}

a {
  text-decoration: none;
}

.tab_wrap{
  width: 100%;
  margin: 5px auto;
}
.tab_area{

}
.tab_area label{
  background-color: #959595;
}
.tab_area label .active{
  background-color: #ffffff;
}
.panel_area{

}
.panel{
  display: none;
}
.panel active{
  display: block;
}

.campaign {
  width: 100;
  margin:0 auto;
  padding: 20px;
  background: #389bc2;
  color: #ffffff;
  text-align: center;
}
.campaign:hover {
  background: #fbd657;
}

