@charset "UTF-8";
html,body{
  margin: 0;
  padding: 0;
  font-family: "メイリオ";
}
.main{
  width: 100%;
  height: 100%;
}

p{
  color: #0033ff;
}

a{
  text-decoration: none;
}

.contents{
  z-index: 0;
}

.tab_wrap{
  margin:0;
  width:100%;
  height: 50%;
}
.tab_area{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
.tab_area>li{
  float:left;
  margin-right:-1px;
  background-color:#fff;
  border:1px solid #ccc;
  border-bottom:0;
  width:49%;
  text-align:center;
  cursor:pointer;
}
.tab_area>li.active{
  background-color:#ff8800;
  cursor:default;
}
.panel_area{
  background-color:#fff;
  border:1px solid #ccc;
  list-style-type:none;
  margin:0;
  padding:10px;
}
.panel_area>li{
  display:none;
}
.panel_area>li.active{
  display:block;
}

.calorieTable{
  margin: 0;
  width: 100%;
  height: 30%;
}
.calorieTable th{
  font-size:12px;
  padding: 0;
}
.calorieTable td{
  font-size:16px;
  padding: 0;
}
.calorieTable th p, .calorieTable td p{
  margin-block-start: 0.5em!important;/*table??????????????????*/
  margin-block-end: 0.5em!important;
}

.campaign {
  width: 100%;
  height: 20%;
  margin-top:2px;
  text-align: center;
}
.campaign a, .modal_window a{
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ff8800;
  color: #333;
  border-bottom: solid 4px #884d0a;
  border-radius: 3px;
}
.campaign a:active, .modal_window a:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  cursor: pointer;
}

.modal_window{
  display: none;
  width: 50%;
  height: 70%;
  margin: 0;
  padding: 0;
  background: #eee;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
}
.modal_bg{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.select_category{
  width: 80%;
  margin: 15px auto;
}
.select_category li{
  margin: 10px auto;
  list-style-type: none;
}

.modal_a_parent{
  width: 100%;
  text-align: center;
}