@charset "UTF-8";
p {
      color: #0033ff;
}

a {
  text-decoration: none;
}

.campaign {
  width: 100;
  margin:0 auto;
  padding: 20px;
  background: #389bc2;
  color: #ffffff;
  text-align: center;
}

.campaign:hover {
  background: #fbd657;
}

.ChangeElem_Panel{
  display: none;
}

.wrapper {
  width: 800px;
}

.main .contents {
  padding: 20px;
  border-right: 1px solid #959595;
  border-bottom: 1px solid #959595;
  border-left: 1px solid #959595;
}
