@charset "UTF-8";
html,body{
  margin: 0;
  padding: 0;
  font-family: "メイリオ";
}
.main .contents {
  padding: 20px;
}

p {
      color: #0033ff;
}

a {
  text-decoration: none;
}

.tab_wrap{
  width: 100%;
  height: 200px;
  margin: 5px auto;
}
.tab_area{
}
.tab_area label{
  background-color: #959595;
  width: 150px;
  max-width: 0 5px;
  display: inline;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
.tab_area label .active{
  background-color: #ffffff;
}
.panel_area{
  border: 1px solid #959595;
}
.panel{
  width: 100%;
  height: auto;
  display: none;
}
.panel .active{
  display: block;
}

.campaign {
  width: 100%;
  height: 50px;
  margin:0 auto;
  /*padding: 20px;*/
  background: #ff8800;
  color: #333;
  text-align: center;
}
.campaign:hover {
  background: #fbd657;
}

