@charset "UTF-8";
p {
      color: #0033ff;
}

a {
  text-decoration: none;
}

.campaign {
  width: 100;
  margin:0 auto;
  padding: 20px;
  background: #389bc2;
  color: #ffffff;
  text-align: center;
}

.campaign:hover {
  background: #fbd657;
}
