<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ながら測定器</title>
  <link rel='stylesheet' href='/static/css/style.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>
  <h1>ながら測定器</h1>
  <canvas id="ChartDemo" width='1231' height='350'></canvas>
  <script>
  var ctx = document.getElementById("ChartDemo").getContext('2d');
var ChartDemo = new Chart(ctx, {
   type: 'line',
   data: {
      labels: ["00:00", "06:00", "12:00", "16:00", "19:00", "21:00", "23:00"],
      datasets: [
      {
         label: "消費カロリー",
         borderColor: 'rgb(255, 0, 0)',
         data: [20, 26, 45, 100, 150, 230, 250],
      },

      {
        label: "目標消費カロリー",
        lineTension: 0,
        fill: false,
        borderColor: 'rgb(0, 0, 255)',
        data: [350,350,350,350,350,350,350],
        borderDash:[5,5],
      }
      ]
   },
   options: {
      responsive: true,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              min: 0,
              max:450
            }
          }
        ]
      }
   }
});
  </script>
  <table width=100%, border="1">
    <tr>
      <td><p>目標消費カロリー</p>300kcal</td><td><p>残り消費カロリー</P></td>
    </tr>
    <tr>
      <td><p>現在の消費カロリー</p>100kcal</td><td>200kcal</td>
    </tr>
  </table>

  <a href='/static/html/vr.html'><!--pythonに頼るPathではないため相対Pathが変わっていることに注意-->
    <div class='campaign'>
      <h1>運動を開始する</h1>
    </div>
  </a>

</body>
</html>
