<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ながら測定器</title>
  <link rel='stylesheet' href='css/menu.css'>
</head>
<body>
  <div class="tab">
    <ul class="tabmenu">
      <li class="current"><a href="front_test.html">メインページ</a></li>
      <li><a href="./menu.html">運動の種類</a></li>
    </ul>
    <div class="contents">
      <h1>プログラム</h1>
      <h2>◆ヨガ</h2>
      <table width=100%, border="1">
        <tr>
          <th>種目</th>
          <th>所要時間</th>
        </tr>
        <tr>
          <td>ヨガ（初級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>ヨガ（中級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>ヨガ（上級）</td>
          <td>05:00</td>
        </tr>
      </table>

      　<h2>◆エアロビクス</h2>
      <table width=100%, border="1">
        <tr>
          <th>種目</th>
          <th>所要時間</th>
        </tr>
        <tr>
          <td>エアロビクス（初級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>エアロビクス（中級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>エアロビクス（上級）</td>
          <td>05:00</td>
        </tr>
      </table>

      <h2>◆ボクササイズ</h2>
      <table width=100%, border="1">
        <tr>
          <th>種目</th>
          <th>所要時間</th>
        </tr>
        <tr>
          <td>ボクササイズ（初級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>ボクササイズ（中級）</td>
          <td>05:00</td>
        </tr>
        <tr>
          <td>ボクササイズ（上級）</td>
          <td>05:00</td>
        </tr>
      </table>
    </div>
  </div>
  </body>
</html>
