<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flaskテスト</title>
        <style>body{padding:10px;}</style>
    </head>
    <body>
        <p>こんにちは</p>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        {% if psqldatas %}
        <h3>DBから取得した全消費カロリーデータ</h3>
        {% for psqldata in psqldatas %}
        <p>●{{ psqldata["id"] }}</p>
        <blockquote>
            <p>・{{ psqldata["calorie"] }}</p>
            <p>・{{ psqldata["datetime"] }}</p>
        </blockquote>
        {% endfor %}
        {% endif %}

        <hr>

        {% if calorieperday %}
        <h3>1日毎の消費カロリー量</h3>
        {{ calorieperday }}
        {% for date,calorie in calorieperday.items() %}
        <p>●{{ date }} : {{ calorie }}[cal?]</p>
        {% endfor %}
        {% endif %}

        <hr>
        <ul>
            <li><a href="/">top</a></li>
            <li><a href="/front_test">front_test</a></li>
            <li><a href="/test_postgresql">postgresql_test</a></li>
        </ul>
    </body>
</html>
