<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flaskテスト</title>
        <style>body{padding:10px;}</style>
    </head>
    <body>
        <p>こんにちは</p>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        {% for psqldata in psqldatas %}
        <p>{{ psqldata }}</p>
        <p>{{ psqldata["id"] }}:{{ psqldata["datetime"] }}</p>
        {% endfor %}
        <ul>
            <li><a href="/front_test">front_test</a></li>
            <li><a href="/test_postgresql">postgresql_test</a></li>
        </ul>
    </body>
</html>
